<footer class="footer text-muted">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <img src="/images/logos.png" alt="Aldir Blanc, Estado de Alagoas" />
      </div>
    </div>
  </div>
</footer>