{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <!-- <h1 class="mt-0">{{ .Title }}</h1> -->
      <img src="/images/caete_pt.svg" alt="Caeté" style="width: 30%; margin: auto; margin-bottom: 62px;" />
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <!-- <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ "docs/prologue/introduction/" | relURL }}" role="button">Get started</a>
      <p class="meta">Open-source MIT Licensed. <a href="https://github.com/h-enk/doks">GitHub v{{ .Site.Data.doks.version }}</a></p> -->
    </div>
    <div class="col-lg-12 text-center section-sm">
      <div id="player" style="text-align: left;"></div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-12">
	      <h2><a name="Player">Player</a></h2>

				<div class="row justify-content-center text-center">
				  <div class="col-lg-6">
          	<h3>Customizable</h3>
            <p>Customizable, you can add buttons (e.g. to toggle sign language videos), change the progress bar to show chapters, add menus.</p>
            <p>The multimedia documents are an embeddable media player, just like a HTML5 video player and can be controlled by a progress bar, paused, fullscreen and muted. All elements of the player can be customized through css styles, and custom buttons can be added in the control bar for custom events, such as subtitles or sign language trigger, or even adding chapter markers.</p>
          </div>
          <div class="col-lg-6">
            <h3>Interactive</h3>
            <p>All the included elements displayed are potentially interactive, altering the content display itself or triggering external javascript functions. As a consequence, Caete Player is a perfect tool for interactive storytelling. It also expands day to day media consumption with more flexible and modern functionalities, as access to extra contents (e.g. popover images or external links) and simple adding of elements (most of which usually demand complex software to be implemented e.g. title captions and ending credits).</p>
          </div>
          <div class="col-lg-6">
            <h3>Mobile friendly</h3>
            <p>With a fluid layout its content adapts to the container size, always keeping the defined aspect ratio. This way, the player, can be used inside any webpage as a custom element, and it will also adapt to either mobile or desktop viewports.</p>
            </div>
          <div class="col-lg-6">
            <h3>Real time</h3>
            <p>Being a dynamic javascript based component, the player can also receive data in order to bind elements to real time changes, either derived from user interaction or from an external data source. As a result it might be possible implement real-time updated data (e.g. database updated numbers of sold products), interactive data (e.g. a score punctuation table) or even milestone binded changes (e.g. predefined monthly changes in the media).</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-12">
	      <h2 ><a name="Creators">Creators</a></h2>

				<div class="row justify-content-center text-center">
				  <div class="col-lg-6">
          	<h3>Create without code</h3>
            <p>Caete will also develop a creator app that, just like a video editing software, will allow an easy and user-friendly interface for interactive media creation.</p>
            <p>TThe creator will provide an no-code environment in which elements can be easily added, customized, positioned and timed. It will also export media players that can be embedded in any website.</p>
          </div>
          <div class="col-lg-6">
            <h3>Easy to understand.<br />Easy to configure.</h3>
            <p>The player settings will can also be edited as a simple merkdown data file, that will also allow more advanced users to control the media elements in a low-code environment.</p>
            <p>For more advanced users, the player’s document will be stored in a plain json file, that can be manually created and edited by anyone with basic coding skills</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-12">
	      <h2><a name="Developers">Developers</a></h2>

				<div class="row justify-content-center text-center">
				  <div class="col-lg-4">
          	<h3>Expandible</h3>
            <p>Once the content is based on plain HTML5 and Javascript elements, new Caete components can easily be created and implemented by advanced users, expanding the possibilities of the player and suiting specific needs. If the popularity of the player expands, an add-on community can be formed, promoting code, templates and support exchange</p>
          </div>
          <div class="col-lg-4">
            <h3>Integrative</h3>
            <p>An API will be implemented and documented, in order to allow Caete’s media elements to interact with external code, triggering external actions and changing external elements to the player. This will allow player integration as part of other projects, and not only as an stand-alone environment.</p>
          </div>
          <div class="col-lg-4">
            <h3>Colaborative</h3>
            <p>As Caete is an open source app, developers are welcome to contribute joining the development team or even improving the app documentation.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

	<script type="text/javascript">
		caete('/libras.json', '#player');
	</script>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
